

.navbar {
background-color: #8E24AA !important;

}

.nav-link {
    color: rgb(239, 169, 248) !important;
}
.battery1, .battery4, .battery2 ,.battery3{
    text-align: left;
    color: rgb(239, 169, 248)
}
body{
    background: rgb(82, 245, 123) !important;
}

img{
    width: 300px;
}



















